  /* ChartContainer Styles */
  .chart-wrapper {
    display: flex;
    flex-wrap: wrap; /* Enable responsiveness */
    gap: 5px; /* Space between charts */
    justify-content: space-between; /* Distribute space horizontally */
    padding: 10px;
  }
  
  .charts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between charts */
    width: 100%;
    justify-content: space-between; /* Align charts in a row */
  }
  
  .chart-container {
    flex: 1 1 ; /* Two charts per row, subtract gap space */
    min-width: 10%; /* Prevent shrinking below 300px */
    max-width: 50%;  /*Optional: Limit maximum width */
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .chart-container {
      flex: 1 1 100%; /* Charts take full width on small screens */
    }
  }
  